@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #111111;
  
  --font-display: "Montserrat", "HarmonyOS", sans-serif;
  --font-body: "Inter", "HarmonyOS", sans-serif;
  --font-tech: "Rajdhani", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: var(--font-body);
}
