@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-ExtraBold.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'HarmonyOS';
  src: url('/fonts/HarmonyOS_Sans_SC_Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Rajdhani';
  src: url('/fonts/Rajdhani-Bold-4.ttf') format('truetype');
  font-weight: bold;
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #111111;
  
  --font-display: "Montserrat", "HarmonyOS", sans-serif;
  --font-body: "Inter", "HarmonyOS", sans-serif;
  --font-tech: "Rajdhani", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: var(--font-body);
}
